@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply font-normal;
    color: theme("colors.black");
    font-size: 1rem; /* 16px */
    line-height: 1.625rem; /* 26px */
  }
  div {
    @apply font-sans;
    @apply font-normal;
    color: theme("colors.black");
    font-size: 1rem; /* 16px */
    line-height: 1.625rem; /* 26px */
  }
  h1 {
    @apply font-sans;
    @apply font-medium;
    @apply text-5xl;
    color: theme("colors.black");
  }
  h2 {
    @apply font-sans;
    @apply font-medium;
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px */
    letter-spacing: 2px;
    color: theme("colors.black");
  }
  h3 {
    @apply uppercase;
    @apply font-sans;
    @apply font-medium;
    font-size: 1.25rem; /* 20px */
    line-height: 1.625rem; /* 26px */
    letter-spacing: 5px;
    color: theme("colors.black");
  }
}

@layer components {
  .icon-burger {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/mobile/icon-hamburger.svg");
  }
  .icon-close {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/mobile/icon-close.svg");
  }
  .icon-facebook {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/desktop/icon-facebook.svg");
  }
  .icon-youtube {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/desktop/icon-youtube.svg");
  }
  .icon-twitter {
    @apply bg-cover;
    width: 28px;
    height: 24px;
    background-image: url("../public/assets/shared/desktop/icon-twitter.svg");
  }
  .icon-pinterest {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/desktop/icon-pinterest.svg");
  }
  .icon-instagram {
    @apply bg-cover;
    width: 24px;
    height: 24px;
    background-image: url("../public/assets/shared/desktop/icon-instagram.svg");
  }
  /* get in touch background */
  .getInTouchBg-mobile {
    background-position: center right -309px;
  }
  .getInTouchBg-tablet {
    background-position: center right -166px;
  }
  .getInTouchBg-desktop {
    background-position: center right;
  }
  /* title background */
  .titleBg-mobile {
    background-position: top right;
  }
  .titleBg-tablet {
    background-position: center right -165px;
  }
  .webTitleBg-desktop {
    background-position: center right;
  }
  .appTitleBg-desktop {
    background-position: center left -58px;
  }
  .graphicTitleBg-desktop {
    background-position: center left -58px;
  }
  /* design menu pages */
  .menu-pages-web-design-desktop-large {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/desktop/image-web-design-large.jpg");
  }
  .menu-pages-web-design-desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/desktop/image-web-design-small.jpg");
  }
  .menu-pages-app-design-desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/desktop/image-app-design.jpg");
  }
  .menu-pages-graphic-design-desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/desktop/image-graphic-design.jpg");
  }
  .menu-pages-web-design-tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/tablet/image-web-design.jpg");
  }
  .menu-pages-app-design-tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/tablet/image-app-design.jpg");
  }
  .menu-pages-graphic-design-tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/tablet/image-graphic-design.jpg");
  }
  .menu-pages-web-design-mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/mobile/image-web-design.jpg");
  }
  .menu-pages-app-design-mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/mobile/image-app-design.jpg");
  }
  .menu-pages-graphic-design-mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/assets/home/mobile/image-graphic-design.jpg");
  }
  .menu-pages-web-design-desktop-large-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/desktop/image-web-design-large.jpg");
  }
  .menu-pages-web-design-desktop-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/desktop/image-web-design-small.jpg");
  }
  .menu-pages-app-design-desktop-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/desktop/image-app-design.jpg");
  }
  .menu-pages-graphic-design-desktop-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/desktop/image-graphic-design.jpg");
  }
  .menu-pages-web-design-tablet-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/tablet/image-web-design.jpg");
  }
  .menu-pages-app-design-tablet-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/tablet/image-app-design.jpg");
  }
  .menu-pages-graphic-design-tablet-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/tablet/image-graphic-design.jpg");
  }
  .menu-pages-web-design-mobile-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/mobile/image-web-design.jpg");
  }
  .menu-pages-app-design-mobile-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/mobile/image-app-design.jpg");
  }
  .menu-pages-graphic-design-mobile-hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("../public/assets/home/mobile/image-graphic-design.jpg");
  }
  /* designo attributes background */
  .attribute-passionate {
    background-image: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0.0001) 0%,
      rgba(93, 2, 2, 0.497569) 100%
    );
    opacity: 0.2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100px;
  }
  .attribute-resourceful {
    background-image: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0.0001) 0%,
      rgba(93, 2, 2, 0.497569) 100%
    );
    opacity: 0.2;
    transform: matrix(0, 1, 1, 0, 0, 0);
    mix-blend-mode: normal;
    border-radius: 100px;
  }
  .attribute-friendly {
    background-image: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0.0001) 0%,
      rgba(93, 2, 2, 0.497569) 100%
    );
    opacity: 0.2;
    transform: matrix(0, -1, -1, 0, 0, 0);
    border-radius: 100px;
  }
  /* locations */
  .location-canada {
    background-image: linear-gradient(
        90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      ),
      url("../public/assets/home/desktop/bg-pattern-hero-home.svg");
    opacity: 0.2;
    transform: matrix(0, -1, -1, 0, 0, 0);
    border-radius: 100px;
  }
  .location-australia {
    background-image: linear-gradient(
        90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      ),
      url("../public/assets/home/desktop/bg-pattern-hero-home.svg");
    opacity: 0.2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    mix-blend-mode: normal;
    border-radius: 100px;
  }
  .location-uk {
    background-image: linear-gradient(
        90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      ),
      url("../public/assets/home/desktop/bg-pattern-hero-home.svg");
    opacity: 0.2;
    transform: matrix(0, 1, 1, 0, 0, 0);
    border-radius: 100px;
  }
  .detailed-location-canada {
    background-image: url("../public/assets/locations/desktop/image-map-canada.png");
  }
  .detailed-location-australia {
    background-image: url("../public/assets/locations/desktop/image-map-australia.png");
  }
  .detailed-location-uk {
    background-image: url("../public/assets/locations/desktop/image-map-united-kingdom.png");
  }
  .detailed-location-canada-tablet {
    background-image: url("../public/assets/locations/tablet/image-map-canada.png");
  }
  .detailed-location-australia-tablet {
    background-image: url("../public/assets/locations/tablet/image-map-australia.png");
  }
  .detailed-location-uk-tablet {
    background-image: url("../public/assets/locations/tablet/image-map-uk.png");
  }
  /* about us */
  .about-hero-desktop {
    background-image: url("../public/assets/about/desktop/image-about-hero.jpg");
  }
  .about-hero-tablet {
    background-image: url("../public/assets/about/tablet/image-about-hero.jpg");
  }
  .about-hero-mobile {
    background-image: url("../public/assets/about/mobile/image-about-hero.jpg");
  }
  .real-deal-desktop {
    background-image: url("../public/assets/about/desktop/image-real-deal.jpg");
  }
  .real-deal-tablet {
    background-image: url("../public/assets/about/tablet/image-real-deal.jpg");
  }
  .real-deal-mobile {
    background-image: url("../public/assets/about/mobile/image-real-deal.jpg");
  }
  .world-class-desktop {
    background-image: url("../public/assets/about/desktop/image-world-class-talent.jpg");
  }
  .world-class-tablet {
    background-image: url("../public/assets/about/tablet/image-world-class-talent.jpg");
  }
  .world-class-mobile {
    background-image: url("../public/assets/about/mobile/image-world-class-talent.jpg");
  }
}
